<div *ngIf="center">
  <div class="content-header">

    <h2>Center Information</h2>
    <div class="underline"></div>
  </div>

  <div class="profile-card" *ngIf="center.centerAttachments.length > 0">
    <div class="profile-image">
      <img [src]="center.centerAttachments[0].url" [alt]="center.centerName" style="max-width:100%; border-radius:100px;" />
    </div>
    <div class="profile-info">
      <p class="title">{{ center.subTitle }}</p>
    </div>
  </div>

  <!-- Name and Address -->
  <div class="content-section">
    <h3>{{ center.centerName }}</h3>
    <p>{{ center.subTitle }}</p>
    <p><strong>Location:</strong> {{ center.place }}</p>
  </div>

  <!-- Overview -->
  <!-- <div class="content-section">
    <h3>About the Center</h3>
    <p>{{ center.about }}</p>
  </div> -->

  <!-- Vision -->
  <!-- <div class="content-section">
    <h3>Vision</h3>
    <p>{{ center.vision }}</p>
  </div> -->

  <!-- Mission -->
  <!-- <div class="content-section">
    <h3>Mission</h3>
    <p>{{ center.mission }}</p>
  </div> -->

  <!-- Objectives -->
  <!-- <div class="content-section">
    <h3>Objectives</h3>
    <ul>
      <li *ngFor="let goal of center.goals">{{ goal.goalName }}</li>
    </ul>
  </div> -->

  <!-- Center Director -->
  <div class="content-section" *ngIf="leader">
    <h3>Center Director</h3>
    <p>{{ leader.memberName }}</p>
  </div>

  <!-- Attachments -->

  <!-- Official Working Hours -->
  <div class="content-section">
    <h3>Official Working Hours</h3>
    <p>Sunday to Thursday: 8:00 AM – 4:00 PM<br>Saturday: 9:00 AM – 1:00 PM</p>
  </div>
</div>
