<section class="departments py-section">
  <div class="container-fluid">
    <h2 class="title text-light">Departments</h2>
    <div class="underline"></div>

    <div class="row g-4">
      <div class="col-lg-4 col-md-6" *ngFor="let department of departments">
        <div class="">
          <app-card
            [imageUrl]="department.departmentAttachments[0]?.url || ''"
            [imageAlt]="department.name"
            [title]="department.name"
            imageHeight="250px">
            <a [routerLink]="['/department', department.id]" class="btn btn-primary-custom btn-small">
              learn more
            </a>
          </app-card>
        </div>
      </div>
    </div>
  </div>
</section>
