<div>
  <!-- News -->
  <div class="content-header">
    <h2>Sector News</h2>
    <div class="underline"></div>
  </div>

  <div class="grid-2">
    <div class="info-card" *ngFor="let post of posts">
      <h4>{{ post.postName }}</h4>
      <p>This news reflects the sector’s activities and its participation in scientific and research events.</p>
      <button class="view-button" (click)="viewPost(post.postId)">View News</button>
    </div>
  </div>

  <!-- Programs -->
  <div class="content-header">
    <h2>Sector Programs</h2>
    <div class="underline"></div>
  </div>

  <div class="grid-2">
    <div class="info-card" *ngFor="let program of programs">
      <h4>{{ program.name }}</h4>
      <p>A program affiliated with the sector that aims to support the educational and research process.</p>
      <button class="view-button" (click)="viewProgram(program.programId)">View Program</button>
    </div>
  </div>
</div>
