<section class="upcoming-events py-section">
  <div class="container-fluid">
    <h2 class="title">Upcoming Events</h2>
    <div class="underline"></div>

    <div class="row g-4">
      <div class="col-lg-4 col-md-6" *ngFor="let event of events">
        <div class="event-card ">
          <div class="event-image">
            <img [src]="event.image" [alt]="event.title" class="img-fluid">
            <div class="overlay"></div>
            <div class="event-date">
              {{ event.date }}<br>{{ event.month }}
            </div>
          </div>
          <div class="event-info">
            <h3 class="event-title">{{ event.title }}</h3>
            <p class="event-schedule">{{ event.schedule }}</p>
            <a [routerLink]="['../posts', 'events', event.id]" class="btn btn-primary-custom btn-small">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
