<div *ngIf="service">
  <div class="content-header">
    <h2>Service Information</h2>
    <div class="underline"></div>
  </div>

  <div class="content-section">
    <h3>{{ service.title }}</h3>
    <p>{{ service.description }}</p>
  </div>

  <div class="grid-2">
    <div class="info-card">
      <h4><i [class]="service.iconPath"></i> Service Status </h4>
      <p>This service is currently available: {{ service.isActive ? 'Yes' : 'No' }}</p>
    </div>
  </div>

  <div class="content-section">
    <h3>Official Working Hours</h3>
    <p>
      Sunday to Thursday: 8:00 AM – 4:00 PM<br>
      Saturday: 9:00 AM – 1:00 PM<br>
      Friday: Official Holiday
    </p>
  </div>
</div>
